header {
    width: 100%;
  background-color: rgba(14,14,5,0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
    width: 50%;
    gap: 10px;
    display: flex;
    justify-content: space-around;
}

.nav {
    color: white;
    text-decoration: none;
}

.logo {
    width: 75%;
    margin-left: 10%;
}

footer {  
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding-top: 10px;
    background-color: rgb(14, 14, 9);
}

a {
    text-decoration: none;
    color: white;
}

.nav:hover {
    color: rgb(193, 223, 43);
}

.socials {
    margin-top: 30px;
}