body {
    margin: 0;
    background-color: #27292d;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.img_debut {
    background-image: url(/static/img/Yu-Gi-Oh.jpg);
    min-height: 500px;
}

.global_ctn {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tri_ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.search {
    width: 35%;
    padding-top: 20px;
}

.search_bar {
    height: 50px;
    border-radius: 5px;
    padding: 0 20px 0 52px;
    border: 1px solid #5a5a61;
    background: #313139 url(/static/img/ico_loupe.png) no-repeat center left 11px;
    background-size: 25px 33px;
    width: 100%;
    color: white;
}

.search_bar::placeholder {
    color: white;
}

select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
}

/* Style pour le bouton */
.sbm_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.sbm_btn:hover {
    background-color: #0056b3;
}

.cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
}

/* Style pour chaque carte */
.carte_img {
    width: calc(20% - 20px); /* Largeur de chaque carte avec une marge de 20px entre elles */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.entete {
  padding: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    justify-content: space-evenly;
    width: 50%;
}

.carte_img {
    display: flex;
    justify-content: center;
}




footer {  
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding-top: 10px;
    background-color: rgb(14, 14, 9);
}

a {
    text-decoration: none;
    color: white;
}

.nav:hover {
    color: rgb(193, 223, 43);
}

.socials {
    margin-top: 30px;
}