body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(/static/img/fond.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img{
    display: flex;
    justify-content: flex-end;
}

.display{
    width: 100%;
    height: 100%;
}

.leftpart {
    width: 100%;
    height: 100%;
    font: 36px bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.rightpart {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.upper_txt {
    text-align: right;
    width: 60%;
}

#dragon {
    width: 101%;
}

.display {
    display: flex;
}

.mid_left {
    width: 100%;
    height: 100%;
    font: 36px bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.mid_right {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explain_left {
    width: 100%;
    height: 100%;
    font: 36px bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.explain_right {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.api_left {
    width: 100%;
    height: 100%;
    font: 36px bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
}

.api_right {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    margin: 5% 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro';
    font-size: 17px;
}

p{
    margin: 8% 0;
    width: 70%;
    font-size: 1rem;
    line-height: 2;
    font-weight: 300;
    letter-spacing: 0.0375em;
}

.cartes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%; 
}

#carte1 {
    width: 30%;
}

.list {
    font-weight: 300;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 3rem 0;
    padding-left: 0;
    width: 55%;
    gap: 80px;
    margin: 13% 0;
}

.liste {
    list-style-type: none;
    background-image: url('/static/img/liste.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px; 
}
.photo {
    list-style-type: none;
    background-image: url('/static/img/photo.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px; 
}
.argent {
    list-style-type: none;
    background-image: url('/static/img/dollar.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px; 
}
.loupe {
    list-style-type: none;
    background-image: url('/static/img/icons8-loupe-50.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px; 
}

.btn {
    background-color: rgb(47, 88, 144);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0.175em;
    text-align: center;
    text-decoration: none;
    padding: 2% 10%;
    margin-top: 10%;
}


.btn:hover {
    background-color: rgb(67, 123, 202); 
}

#logo_api{
    width: 50%;
}