{{define "deck"}}
<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Card list</title>
	<link rel="stylesheet" href="/static/css/deck.css">
</head>

<body>
	<header>
		<a href="http://localhost:8080/liste">
			<img src="/static/img/logo.png" class="logo" alt="">
		</a>
		<ul>
			<a class="nav" href="http://localhost:8080/main">Intro</a>
			<a class="nav" href="http://localhost:8080/liste">Card Database</a>
			<a class="nav" href="#">My deck</a>
		</ul>
		<form action="/recherche" method="GET" class="search">
			<input type="text" id="recherche" name="query" placeholder="Rechercher une carte" required
				class="search_bar">
			<button type="submit" class="search_btn">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="12" height="12" viewBox="0 0 32 32"
					class="search_icon">
					<path
						d="M 19 3 C 13.488281 3 9 7.488281 9 13 C 9 15.394531 9.839844 17.589844 11.25 19.3125 L 3.28125 27.28125 L 4.71875 28.71875 L 12.6875 20.75 C 14.410156 22.160156 16.605469 23 19 23 C 24.511719 23 29 18.511719 29 13 C 29 7.488281 24.511719 3 19 3 Z M 19 5 C 23.429688 5 27 8.570313 27 13 C 27 17.429688 23.429688 21 19 21 C 14.570313 21 11 17.429688 11 13 C 11 8.570313 14.570313 5 19 5 Z">
					</path>
				</svg>
			</button>
		</form>
	</header>
	<div class="main_ctn">
        <h1>My Deck</h1>
        <div class="cartes">
			{{ range .Cards }}
			{{ with .CardImages }}
			{{ range . }}
			<div class="carte_img">
				<a href="/info/{{ .ID }}">
					<img src="{{ .ImageURL }}" alt="" width="200">
				</a>
			</div>
			{{ end }}
			{{ end }}
			{{ end }}
		</div>
    </div>
		
	<footer>
		<a href="http://localhost:8080/apropos">About us</a>
	</footer>
</body>
{{end}}
