{{define "main"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card list</title>
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="display">
        <div class="leftpart">
            <div class="upper_txt">
                <h1>Yu-Gi-Oh TCG Developers</h1>
                Customize your own deck
            </div>
        </div>
        <div class="rightpart">
            <div class="img">
                <img src="/static/img/dragon.png" alt="" id="dragon">
            </div>
        </div>
    </div>
    <div class="display">
        <div class="mid_left">
            <div class="upper_txt" id="intro">
                <h2>What is Yu-Gi-Oh</h2>
            </div>
        </div>
        <div class="mid_right">
            <div class="content">
                <p><strong>The expansive universe of Yu-Gi-Oh! </strong> merges ancient Egypt, mystical magic, and
                    monster duels through a strategic card game.</p>
                <div class="cartes">
                    <img src="/static/img/carte1.png" id="carte1" alt="Carte dragon blanc aux yeux bleux">
                    <img src="/static/img/carte2.png" id="carte1" alt="Carte dragon ultime aux yeux bleux">
                </div>
                <p><strong>There are various types of monsters</strong> that can evolve to attain more powerful forms,
                    with increased <b>ATK</b>, <b>DEF</b>, and enhanced <b>special abilities</b> on the board.</p>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="explain_left">
            <div class="upper_txt">
                <h3>Get access to every cards informations with High quality images</h3>
            </div>
        </div>
        <div class="explain_right">
            <div class="content">
                <p><strong>Focus on your application</strong> and let us worry about the card data. Some features of the
                    YU-GI-OH TCG Developers include:</p>
                <ul class="list">
                    <li class="liste">All informations</li>
                    <li class="photo">Hi-Res images</li>
                    <li class="argent">Price of the card</li>
                    <li class="loupe">Where to get them</li>
                </ul>
                <a href="http://localhost:8080/liste" class="btn">Get Started</a>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="api_left">
            <div class="upper_txt" id="intro">
            <h3>Which API is used</h3>
        </div>
        </div>
        <div class="api_right">
            <div class="content">
            <img src="/static/img/OpenGraph_Summary.png" alt="Logo ygoProDeck" id="logo_api">
            <p><strong>YGOProDeck is the #1 Source for Yu-Gi-Oh! deck strategies.</strong> The best #yugioh Deck Sharing and Database website! Deck Builder, Price Guide, Database, Collection Manager + more!</p>
            You can access the documentation using the link below :
            <a href="https://ygoprodeck.com/api-guide/" class="btn">API Documentation</a>
        </div>
        </div>
    </div>
</body>

</html>
{{end}}