{{define "main"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card list</title>
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="display">
        <div class="leftpart">
            <div class="upper_txt">
                <h1>Yu-Gi-Oh TCG Developers</h1>
                Customize your own deck
            </div>
        </div>
        <div class="rightpart">
            <div class="img">
                <img src="/static/img/dragon.png" alt="" id="dragon">
            </div>
        </div>
    </div>
    <div class="display">
        <div class="mid_left">
            <div class="upper_txt" id="intro">
           <h1>Qu'est ce que Yu-Gi-Oh</h1>
        </div>
        </div>
        <div class="mid_right">
            <div class="content">
                <p><strong>From Base Set through Sword & Shield,</strong> the Pokémon TCG API has the card data you need to build the ultimate application, whether that be mobile or web.</p>
                <div class="cartes">
                <img src="/static/img/carte1.png" id="carte1" alt="">
                <img src="/static/img/carte2.png" id="carte1" alt="">
            </div>
            </div>
            
        </div>
    </div>
</body>

</html>
{{end}}